﻿@model BlogChallenge.ViewModels.CreationFormPostModel
@{
    ViewBag.Title = "creationFormPost";
}
<link rel="stylesheet" type="text/css" href="~/css/creationFormPost.css" />
<div class="content">
    <div class="divTitle">
        <div class="divIcon">
            <span class="icon-plus iconTitle"></span>
        </div>
        <h2 class="title">Crear Post</h2>
    </div>
    @using (Html.BeginForm("createPost", "Post", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
    {
        <div class="divInput">
            <label class="label">Titulo</label>
            <input class="inputForm" type="text" name="title" value="@Model.pvModel.title" placeholder="Titulo"/>
            @if (Model.pvModel != null) {
                <div class="errorMessage">@Model.pvModel.titleError</div>
            }
        </div>
        <div class="divInput">
            <label class="label">Categoria</label>
            <input class="inputForm" type="text" name="category" value="@Model.pvModel.category" placeholder="Categoria" />
        </div>
        <div class="divInput">
            <label class="label">Contenido</label>
            <textarea class="inputForm textarea" name="content" placeholder="Contenido">@Model.pvModel.content</textarea>
            
            @if (Model.pvModel != null)
            {
                <div class="errorMessage">@Model.pvModel.contentError</div>
            }
        </div>
        <div class="divInput">
            <label class="label">Imagen</label>
            <input class="inputForm" type="file" name="file"/>
            @if (Model.pvModel != null)
            {
                <div class="errorMessage">@Model.pvModel.imageError</div>
            }
        </div>
        <div class="divButton">
            <button class="button" type="submit">Crear post</button>
        </div>
    }
</div>
