﻿@model BlogChallenge.ViewModels.BlogIndexModel
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/css/index.css" />

<div class="content">
    <div class="divTitle">
        <div class="divIcon">
            <span class="icon-home iconTitle"></span>
        </div>
        <h2 class="title">Home</h2>
    </div>
    <div class="rowPosts">
    @foreach (Post post in Model.allPost)
    {   
       <div class="post">
           <div class="divImage">
               <img class="imagePost" src="~/image/@post.ImagePost"/>
               <a class="update" href="@Url.Action("updateFormPost", "Post", new { id = post.ID })"><span class="icon-pencil icon"></span></a>
               <a class="delete" href="@Url.Action("Delete", "Post", new { id = post.ID })"><span class="icon-bin icon"></span></a>
           </div>
           <div class="dataPost">
               @if (post.Category == "")
               {
                   <span class="postCategory">Sin categoria</span>
               }
               else if (post.Category.Length <= 18)
               {
                   <span class="postCategory">@post.Category</span>
               }
               else
               {
                   <span class="postCategory">@post.Category.Substring(0, 18) ...</span>
               }

               @if (post.Title.Length <= 18)
               {
                   <span class="postTitle">@post.Title</span>
               }
               else
               {
                    <span class="postTitle">@post.Title.Substring(0, 18) ...</span>
               }
               <span class="postCreationDate">@post.CreationDate.Day/@post.CreationDate.Month/@post.CreationDate.Year</span>
               <a class="details" href="@Url.Action("Detail", "Post", new { id = post.ID })">ver detalle <span class="icon-arrow-right2"></span></a>
          </div>
     </div>         
     }
</div>
</div>

