﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="~/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="~/fontAwesome/fonts/style.css" />
</head>
<body>
    <header class="header">
        <div class="divHeader">
            <div class="logo">
                <a class="linkLogo" href="@Url.Action("Index", "Blog")">Blog</a>
            </div>
            <div id="menu" class="menu">
                <a class="link" href="@Url.Action("Index", "Blog")">Home</a>
                <a class="link" href="@Url.Action("creationFormPost", "Blog")">Crear Post</a>
            </div>
            <div id="barMenu" class="barMenu">
                <button id="barButton">
                    <span class="bar topLine"></span>
                    <span class="bar middleLine"></span>
                    <span class="bar bottomLine"></span>
                </button>
            </div>
        </div>
    </header>

        @RenderBody()
        
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - Blog Challenge</p>
    </footer>
    <script type="text/javascript" src="~/js/layout.js"></script>
</body>
</html>