﻿@model BlogChallenge.Post
@{
    ViewBag.Title = "Detail";
}
<link rel="stylesheet" type="text/css" href="~/css/detail.css" />
<div class="content">
    <div class="postContent">
        <div class="postData">
            <img class="imagePost" src="~/image/@Model.ImagePost" />
            @if (Model.Category != "")
            {
                <span class="postCategory">@Model.Category</span>
            }
            else
            {
                <span class="postCategory">Sin Categoria</span>
            }
            <h3 class="titlePost">@Model.Title</h3>
            <span class="date">@Model.CreationDate.Day / @Model.CreationDate.Month / @Model.CreationDate.Year</span>
            <p class="text">@Model.Content</p>
        </div>
        <div class="aside">
            <div class="divAside">
                <div class="titleAside">Anuncio</div>
                <span class="textAside">
                    Lorem Ipsum is simply dummy text of the printing and 
                    typesetting industry. Lorem Ipsum has been the 
                    industry's standard dummy text ever since the 1500s
                </span> 
            </div>
        </div>
    </div>
</div>