﻿@model BlogChallenge.ViewModels.UpdateFormPostModel
@{
    ViewBag.Title = "updateFormPost";
}
<link rel="stylesheet" type="text/css" href="~/css/updateFormPost.css" />
<div class="content">
    <div class="divTitle">
        <div class="divIcon">
            <span class="icon-pencil iconTitle"></span>
        </div>
        <h2 class="title">Actualizar Post</h2>
    </div>
    @using (Html.BeginForm("validateAndUpdatePost", "Post", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
    {
        <div class="divInput">
            <input class="inputForm" type="hidden" name="id" value="@Model.post.ID" />
        </div>
        <div class="divInput">
            <label class="label">Titulo</label>
            <input class="inputForm" type="text" name="title" value="@Model.post.Title" />
            @if (Model.pvModel != null)
            {
                <div class="errorMessage">@Model.pvModel.titleError</div>
            }
        </div>
        <div class="divInput">
            <label class="label">Categoria</label>
            <input class="inputForm" type="text" name="category" value="@Model.post.Category" />
        </div>
        <div class="divInput">
            <label class="label">Contenido</label>
            <textarea class="inputForm textarea" name="content">@Model.post.Content</textarea>
            @if (Model.pvModel != null)
            {
                <div class="errorMessage">@Model.pvModel.contentError</div>
            }
        </div>
        <div class="divInput">
            <label class="label">Imagen</label>
            <input class="inputForm" type="file" name="file" value="@Model.post.ImagePost" />
            @if (Model.pvModel != null)
            {
                <div class="errorMessage">@Model.pvModel.imageError</div>
            }
        </div>
        <div class="divButton">
            <button class="button" type="submit">Actualizar Post</button>
        </div>
    }
</div>