﻿.content{
    width:90%;
    margin:auto;
}

.imagePost{
    width:100%;
    height:450px;
    margin:0px 0px 30px 0px;
    object-fit: cover;
}

.titlePost{
    font-size:40px;
}

.date{
    font-size:19px;
    color:#5E5E5E;
}

.postContent{
    width:100%;
    display:flex;
    justify-content:space-between
}

.text{
    font-size:23px;
    margin:30px 0px 0px 0px; 
}

.postCategory{
    font-size:20px;
}

.postData{
    width:75%;
}

.aside{
    width:24%;
}

.divAside{
    width:100%;
    height:450px;
    background:#E7E7E7;
    padding:15px;
    display:flex;
    justify-content:center;
    align-content:center;
    flex-wrap:wrap;
}

.titleAside{
    font-size:30px;
    margin:20px;
}

.textAside{
    text-align:center;
}

@media screen and (max-width: 1200px) {
    .imagePost {
        height:400px;
    }

    .postContent {
        width: 100%;
    }

    .postData {
        width:75%;
    }

    .divAside {
        width: 100%;
        height: 400px;
    }
}

@media screen and (max-width: 1000px) {
    .imagePost{
        width:100%;
        height:400px;
    }

    .postContent {
        width: 100%;
    }

    .postCategory{
        font-size:19px;
    }

    .titlePost{
        font-size:35px;
    }

    .text{
        font-size:19px;
    }

    .postData{
        width:100%;
    }

    .aside {
        display:none;
    }
}
}

@media screen and (max-width: 800px) {
    .imagePost{
        width:100%;
        height:400px;
    }

    .postCategory{
        font-size:18px;
    }

    .titlePost{
        font-size:30px;
    }

    .text{
        font-size:18px;
    }

    .postContent {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .imagePost{
        width:100%;
        height:300px;
    }

}