﻿body {
}

.content{
    width:90%;
    margin:auto;
}

.divTitle{
    display:flex;
    align-items:center;
    margin-bottom:30px;
}

.divIcon{
    width:70px;
    height:70px;
    background:#292929;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:100%;
}

.iconTitle{
    font-size: 40px;
    color:#fff;
}

.title {
    font-size: 40px;
    margin-left: 25px;
    color:#292929;
    font-weight:bold;
}

.rowPosts{
    width:100%;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap:20px;
    
}

.post{
    border:1px solid #979797;
    flex-wrap:wrap;
    background:#fff;
    height:100%;
    display:flex;
    justify-content:center;
}

.post:hover{
    transition:all 0.2s;
    transform:scale(1.02)
}

.post:hover{
    border:1px solid #FF7400;
}

.divImage{
    width:100%;
    height:200px;
    position:relative;
}

.imagePost{
    width:100%;
    height:100%;
    object-fit: cover;
}

.dataPost{
    width:100%;
    padding:15px;
    position:relative;
}

.postCategory{
    font-size:18px;
    height:20px;
    color:#979797;
}

.postTitle{
    font-size:22px;
    display:block;
}

.postCreationDate{
    font-size:16px;
    color:#979797;
}

.details{
    display:block;
    margin:5px 0px;
    z-index:10;
    text-decoration: none;
    color:#0070FF;
}

.postOption{
    bottom:20px;
    left:20px;
    display:flex;
}

.update,.delete{
    display:block;
    width:40px;
    height:40px;
    padding:5px;
    text-decoration:none;
    text-align:center;
    color:#fff;
    border-radius:100%;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
}

.icon{
    font-size: 20px;
}

.update{
    top:15px;
    right:15px;
    background-color:rgba(0,0,0,0.2);
}

.delete{
    top:60px;
    right:15px;
    background-color:rgba(0,0,0,0.2);
}

.delete:hover,.update:hover{ 
    background: #fff;
}

.delete:hover .icon,.update:hover .icon{
    color:rgba(0,0,0,0.8);
}

@media screen and (max-width: 1200px) {
    .rowPosts {
        background: #F3F3F3;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
    }    

    .divImage{
        height:200px;
    }
}

@media screen and (max-width: 1000px) {
    .rowPosts {
        background: #F3F3F3;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
    }    

    .divImage{
        height:180px;
    }
}

@media screen and (max-width: 800px) {
    .rowPosts {
        background: #F3F3F3;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;
    }   
     
}

@media screen and (max-width: 550px) {
    .rowPosts {
        background: #F3F3F3;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }    

    .divImage{
        height:250px;
    }

    .title {
        font-size: 30px;
    }
}
