﻿@font-face{
    font-family: 'fuenteIndex';
    src : url(../letterFonts/Poppins-Regular.ttf);
    font-display: swap;
}

* {
    padding:0;
    margin:0;
    font-family: 'fuenteIndex';
    box-sizing: border-box;
}

.header{
    background:#FF7400;
    height:80px;
    width:100%;
    margin:0px 0px 50px 0px;
    box-shadow:2px 2px 2px rgba(0,0,0,0.2);
}

.divHeader{
    width:90%;
    height:100%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.linkLogo{
    font-size:25px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
}

.menu{
    font-size:18px;
    display:flex;
    align-items:center;
}

.link{
    margin-left:25px;
    cursor:pointer;
    color:#fff;
    text-decoration:none;
}

.barMenu{
    width:50px;
    height:50px;
    display:none;
}

#barButton{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    background:#FF7400;
    border:1px solid #fff;
    align-content:center;
    padding:8px;
    outline:none;
    cursor:pointer;
}

.bar{
    display:block;
    height:3px;
    background:#fff;
    margin:3px 0px;
    width:100%;
    animation-duration:1s;
    animation-fill-mode:forwards;
}

#barButton.open .topLine{
    animation-name: topLineAnimation;
}

#barButton.open .middleLine{
    animation-name: middleLineAnimation;
}

#barButton.open .bottomLine{
    animation-name: bottonLineAnimation;
}

#barButton .topLine{
    animation-name: topLineAnimationClose;
}

#barButton .middleLine{
    animation-name: middleLineAnimationClose;
}

#barButton .bottomLine{
    animation-name: bottonLineAnimationClose;
}

.footer{
    margin:50px 0px 0px 0px;
    background:#292929;
    color:#fff;
    height:100%;
    height:70px;
    display:flex;
    justify-content:center;
    align-items:center;
}

@keyframes topLineAnimation {
    50%,100%{
        margin:0 auto;
        transform:translateY(2px) rotate(-45deg);
    }
}

@keyframes middleLineAnimation {
    20%,100%{
        margin:0 auto;
        width:0;
        opacity:0;
    }
}

@keyframes bottonLineAnimation {
    50%,100%{
        margin:0 auto;
        transform:translateY(-2px) rotate(45deg);
    }
}

@keyframes topLineAnimationClose {
    0%{
        margin:0 auto;
        transform:translateY(2px) rotate(-45deg);
    }

    50%,100%{
        margin:3px auto;
        transform:translateY(0px) rotate(0deg);
    }
}

@keyframes middleLineAnimationClose {
    0%{
        margin:0 auto;
        width:0;
        opacity:0;
    }

    20%,100%{
        margin:3px auto;
        width:100%;
        opacity:1;
    }
}

@keyframes bottonLineAnimationClose{
    0%{
        margin:0 auto;
        transform:translateY(-2px) rotate(45deg);
    }

    50%,100%{
        margin:3px auto;
        transform:translateY(0px) rotate(0deg);
    }
}

@media screen and (max-width: 1200px) {
    .barMenu {
        display:none;
    }
    .menu{
        display:block;
    }
}

@media screen and (max-width: 1000px) {
    .barMenu {
        display:none;
    }
    .menu{
        display:block;
    }
}

@media screen and (max-width: 800px) {
   .barMenu {
        display:block;
    }
    .menu{
        display:none;
        width:100%;
        background:#fff;
        position:absolute;
        box-shadow:3px 3px 3px rgba(0,0,0,0.2);
        top:80px;
        left:0%;
        flex-direction:column;
    }

    .link {
        color:#000;
        display:block;
        padding:15px 0px;
    }
}

@media screen and (max-width: 550px) {
    .barMenu {
        display:block;
    }
    .menu{
        display:none;
    }
}