﻿.content{
    width:90%;
    margin:auto;
}

.contenError{
    padding:45px;
    border:1px solid #ADADAD; 
}

.divTitle{
    display:flex;
    align-items:center;
    margin-bottom:30px;
}

.divIcon{
    width:70px;
    height:70px;
    background:#292929;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:100%;
}

.iconTitle{
    font-size: 40px;
    color:#fff;
}

.title {
    font-size: 40px;
    margin-left: 25px;
    color:#292929;
    font-weight:bold;
}

.titleError{
    font-size:40px;
    margin:0px 0px 20px 0px;
    font-weight:bold;
}

.subTitleError{
    font-size:30px;
    font-weight:bold;
}

hr{
    margin:0px 0px 20px 0px;
}

.descriptionError{
    font-size:22px;
    margin:0px 0px 30px 0px;
}

.homeLink{
    font-size:25px;
    text-decoration:none;
    color:#0070FF;
}

.homeLink span{
    margin-left:10px;
}

@media screen and (max-width: 800px) {
    .titleError{
        font-size:35px;
        margin:0px 0px 20px 0px;
        font-weight:bold;
    }
}
