﻿.content{
    width:90%;
    margin:auto;
}

.divTitle{
    display:flex;
    align-items:center;
    margin-bottom:30px;
}

.divIcon{
    width:70px;
    height:70px;
    background:#292929;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:100%;
}

.iconTitle{
    font-size: 40px;
    color:#fff;
}

.title {
    font-size: 40px;
    margin-left: 25px;
    color:#292929;
    font-weight:bold;
}

.form{
    width:50%;
    border:1px solid #ADADAD;
    padding:25px;
    
}

.divInput{
    width:100%;
    margin:0px 0px 10px 0px;
}

.label{
    width:100%;
}

.inputForm{
    width:100%;
    outline:none;
    font-size:17px;
    padding:4px;
    background:#F3F3F3;
    border:none;
}

.textarea{
    outline:none;
    height:170px;
    font-size:17px;
    padding:4px;
}

.divButton{
    width:100%;
    text-align:center;
    margin:20px 0px 0px 0px; 
}

.button{
    padding:7px;
    cursor:pointer;
    font-size:20px;
    width:60%;
    margin:auto;
    color:#fff;
    border:none;
    background: #FF7400;
}

.button:hover{
    background:#292929;
    color:#fff;
}

.errorMessage{
    color: #F90400;
}

@media screen and (max-width: 1200px) {
    .form{
        width:60%;
        border:1px solid #ADADAD;
        padding:25px;
    }
}

@media screen and (max-width: 1000px) {
    .form{
        width:70%;
        border:1px solid #ADADAD;
        padding:25px;
    }
}

@media screen and (max-width: 800px) {
    .form{
        width:100%;
        border:1px solid #ADADAD;
        padding:25px;
    }

    .button {
        width:100%;
    }
}

@media screen and (max-width: 550px) {
    .form{
        width:100%;
        border:1px solid #ADADAD;
        padding:25px;
    }

    .title {
        font-size: 30px;
    }

    .button {
        width:100%;
    }
}