﻿
@{
    ViewBag.Title = "postNotFound";
}

<link rel="stylesheet" type="text/css" href="~/css/postNotFound.css" />

<div class="content">
    <div class="divTitle">
        <div class="divIcon">
            <span class="icon-cross iconTitle"></span>
        </div>
        <h2 class="title">Error</h2>
    </div>

    <div class="contenError"> 
        <h2 class="titleError">Hubo un Error en la Búsqueda</h2>
        <hr />
        <div class="subTitleError">
            No se encontró el Post
        </div>
        <div class="descriptionError">
            El post que estaba buscando no se encuentra actualmente, 
            puede deberse a que se borro o que no se haya creado.
        </div>
        <a class="homeLink" href="@Url.Action("Index", "Blog")">Home<span class="icon-arrow-right2"></span></a>
    </div>
</div>
